<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white"><%= "勤務表一覧" %></h1>
    <div class="row">
      <div class="col-md-offset-2 col-md-2">
        <% work_schedule_index.each do |key,value| %>
          <%= link_to "#{key}", nurse_work_schedule_path(value), class: 'btn btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
