<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">勤務表</h1>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to 'Log in', "#",class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>