<div class="mains-index-wrapper">
    <h1 class="text-center text-white"><%= @now.next_month.month %> 月勤務表</h1>
    <table>
      <tr>
        <th> </th>
        <% @day.times do |day| %>
          <% i = 1 %>
          <th><%= i += day %></th>
        <% end %>
      </tr>
      <% @nurses.each do |nurse| %>
      <tr>
        <td>
          <%= link_to nurse_path(nurse.id) do %>
            <%= nurse.name %>
          <% end %>
        </td>
        <td>日</td>
        <td>日</td>
        <td>夜</td>
        <td>明</td>          
        <td>公</td>
        <td>日</td>
      </tr>
      <% end %>
    </table>
</div>
