.form-control {
  height: 30px;
}
.text {
  padding-left: 3px;
  font-size: 5px;
  color: red;
}
.nurses-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #add8e6;
  
  .nurses-new-container {
    padding-top: 60px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}